/*
	Kentest 
	for Pammely Withrow Love Kennymac @2025 
*/

 .kentest {
    background-color: aqua;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
  }

 .pamround {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }