body, html {
  height: 100%;
  margin: 0;
}
.full-height {
  height: 100vh;
}
.container {
  font-size: 2vh; /* Adjust the font size as needed */
}
h1 {
  font-size: 8vh;
}
h2 {
  font-size: 6vh;
}
p {
  font-size: 4vh;
}
a {
  font-size: 4vh;
}