body, html {
  height: 100%;
  margin: 0;
}
.full-height {
  height: 100vh;
}
.container {
  font-size: 1vh; /* Adjust the font size as needed */
}
h1 {
  font-size: 7vh;
}
h2 {
  font-size: 3vh;
}
p {
  font-size: 2vh;
}
a {
  font-size: 2vh;
}